on charger
    mkdir /system
    mount ext4 /dev/block/by-name/android_system /system ro
    mkdir /dev/usb-ffs 0770 shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
