allow gpsd servicemanager:binder call;
allow gpsd sysfs_wake_lock:file { read write open };

allow gpsd property_socket:sock_file rw_file_perms;
use_keystore(gpsd)
binder_use(gpsd)
