# Rules for system/bin/dhcpd
type hdcpd, domain;
type hdcpd_exec, exec_type, file_type;
init_daemon_domain(hdcpd);
allow hdcpd self:capability { dac_override setuid chown sys_admin ipc_lock };
allow hdcpd self:netlink_kobject_uevent_socket create_socket_perms;
allow hdcpd sysfs:file write;
# TODO: remove rules for system_data_file if they can be replaced
# by hdcpd_data_file ones
allow hdcpd system_data_file:dir { create_dir_perms };
allow hdcpd system_data_file:sock_file { create link_file_perms };
allow hdcpd hdcpd_data_file:dir { create_dir_perms };
allow hdcpd hdcpd_data_file:sock_file { create link_file_perms };
allow hdcpd coreu_tmpfs:file { rw_file_perms };

allow hdcpd hdcpd_tmpfs:file { lock create open };
allow hdcpd rootfs:dir { write create add_name mounton };
allow hdcpd rootfs:filesystem remount;
allow hdcpd tmpfs:dir { mounton write add_name };
allow hdcpd tmpfs:filesystem mount;
