# rules for keystore
# set ability to manipulate wake_lock
wakelock_use(keystore)
# allow to drop privileges from root to keystore
allow keystore self:capability setuid;

