allow mediaserver default_prop:property_service set;
allow mediaserver media_device:chr_file rw_file_perms;
allow mediaserver system_server:unix_stream_socket { read write };
