allow system_server gps_data_file:fifo_file { write read open setattr };
allow system_server gps_data_file:dir { search add_name write };
allow system_server gps_data_file:fifo_file create;
allow system_server pstore-clean_data_file:dir search;
allow system_server init:unix_dgram_socket sendto;
