# telemetry domain
type telemetry, domain;
type telemetry_exec, exec_type, file_type;
init_daemon_domain(telemetry);
# the telemetry log probe needs read permissions on the logd logdr socket
read_logd(telemetry);

# execs
allow telemetry telemetry_exec:file execute_no_trans;
allow telemetry shell_exec:file { read execute_no_trans }; # Run scripts
allow telemetry system_file:file execute_no_trans; # Use basic commands in them

allow telemetry self:process setfscreate;

allow telemetry kernel:system syslog_mod;
allow telemetry self:capability { setuid dac_override fsetid };
allow telemetry self:capability2 syslog;

#properties

allow telemetry telemetry_prop:property_service set;
allow telemetry init:unix_stream_socket connectto;
allow telemetry property_socket:sock_file rw_file_perms;
allow telemetry property_socket:unix_stream_socket connectto;

#tombstone
allow telemetry tombstone_data_file:dir rw_dir_perms;
allow telemetry tombstone_data_file:file create_file_perms;

# files
allow telemetry telemetry_data_file:dir create_dir_perms;
allow telemetry telemetry_data_file:file create_file_perms;

allow telemetry cache_file:file create_file_perms;
allow telemetry cache_file:dir create_dir_perms;

allow telemetry dnsproxyd_socket:sock_file write;
allow telemetry fwmarkd_socket:sock_file write;
allow telemetry netd:unix_stream_socket connectto;
allow telemetry port:tcp_socket name_connect;
allow telemetry self:tcp_socket { write create connect setopt };

allow system_app telemetry_prop:property_service set;
# logcat access
control_logd(telemetry);
