# Additional radio rules
allow radio log_file:file create_file_perms;
allow radio log_file:dir rw_dir_perms;
allow radio radio_data_file:file execute;
allow radio mmgr_socket:sock_file write;
